<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">Trabaja con nosotros</h1>
      <h3>Buscamos talentos como el tuyo</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nam
        voluptatem adipisci sed amet ipsa quod reiciendis eos. Magnam ad
        sapiente aut a libero aliquam veritatis incidunt molestiae tempora?
      </p>
      <p>
        Si estas interesado en trabajar con nosotros envia tu CV al siguiente correo. <br />
        <a href="mailto:hr@email.com">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <u>test@test.com</u>
        </a>
      </p>
    </div>
  </div>
</div>

<%- include ../partials/footer %>
