<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">Politicas de envio</h1>
      <p>
        En esta página encontrará información sobre nuestra duración de envío y
        costos.
      </p>

      <h4>Duración del procesamiento del pedido</h4>
      <p>
        La empresa en sí es una empresa muy exitosa. Para los más rudos
        Obtendrás placer pero tendrás que rechazarlos. Un gran anuncio
        ¿Caen tiempos de angustia sobre un hombre sabio o sobre un hombre libre de verdad?
      </p>

      <h4>Entrega del pedido</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum laborum
        dolor, totam quidem expedita impedit sequi natus molestias quae
        similique officiis? Eos, quas earum! Similique nobis enim unde amet
        suscipit.
      </p>

      <h4>Tarifas de envio</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita libero
        perspiciatis atque corrupti amet dignissimos reprehenderit excepturi aut
        ea distinctio mollitia nulla voluptatum deleniti, ipsum saepe soluta
        omnis debitis! Beatae.
      </p>

      <h4>Productos que devuelven</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, dicta.
        Consequatur praesentium esse aut minus ullam exercitationem nostrum!
        Provident minus dolores asperiores velit. Nulla, repellat magnam. Ab
        corrupti voluptatibus quos.
      </p>

      <h4>¿Tienes preguntas?</h4>
      <p>
        Por favor no dudes en
        <a href="/pages/contact-us"><u>Contactanos</u></a> a través de nuestros correos electrónicos o
        números de teléfono
      </p>
    </div>
  </div>
</div>

<%- include ../partials/footer %>
